.body{
    display: flex;
    flex-direction: column;
}

button{
    width:100px;
    padding: 5px;
    margin-bottom:10px ;
    margin: auto;
    font-family: "berkeley";
    color: white;
    background-color: #2f2f2f;
}

.button-wrapper{
    margin: auto;
}

canvas{
    background-color: black;
    margin: auto;
}

h{
    color: whitesmoke;
    font-size: larger;
}

.iterations-p{
    color: white;
    color: oklch(66.59% .3018840772950374 4.255646284110876/ 1);
    font-family: "berkeley";
}

span{
    font-family: "berkeley";
}

button:hover{
    transform: scale(1.2);
}