
.novel-img{
    width: 120px;
    aspect-ratio: 1 / 1.5 ;
}

@media screen and (max-width: 600px) {
    .novel-img{
        width: 100px;
        aspect-ratio: 1 / 1.5 ;
    }
}

.image-container{
    display: flex;
    opacity: 0;
}

.novel-img:hover{
    transform: scale(1.1);
}

.novel-img-name{
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
