
main {
    width: 960px;
    padding:1em 1em;
}
ul {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    width: calc(50% - 1rem);
    
}
ul li * {
    text-decoration: none;
    transition: 0.2s ease;
    
}

a{
    text-decoration:none;
    color:#0074D8;
}
/*
ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}
ul li:first-child img {
    width: 100%;
}
ul li:first-child .title {
    font-size: 2.369rem;
}*/
ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
    aspect-ratio: 2 / 1;
    object-fit:cover;
}

.title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
    font-family: "Berkeley";
    color: oklch(66.59% .3018840772950374 4.255646284110876/ 1);
}
.date {
    margin: 0;
    color: rgb(var(--gray));
    font-size: medium;
}
ul li a:hover h4,
ul li a:hover .date {
    color: #0074D8;
}
ul a:hover img {
    box-shadow: var(--box-shadow);
}
@media (max-width: 720px) {
    ul {
        gap: 0.5em;
    }
    ul li *{
        width: 100%;
        text-align: center;
    }
    ul li:first-child {
        margin-bottom: 0;
    }
    
    .blog-posts{
        max-width: 75%;
    }
}


.icy-span{
    position: absolute;
    width: 300px;
    top: 20%;
}
/*
img{
    clip-path: ellipse(130px 140px at 90% 50%);
}
*/

button{
    background-color: #222222; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rss{
    width: 24px;
}

.compact-view{
    display: flex;
    flex-direction: column;
    font-family: "Berkeley";
    font-size: large;
    width: fit-content;
}

.compact-view-text:hover{
    cursor: pointer;
}

@font-face {
	font-family: "Berkeley";
	src: url("/fonts/berkeley-mono-variable-2.ttf");
}

span{
    color: #222939;/*oklch(66.59% .3018840772950374 4.255646284110876/ 1);*/
}

.progress-bar{
    color: #222939;
}

.main-container{
   /* border: #222222 solid 2px;*/
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction:row;
}

.settings-container{
   /* border: #222222 solid 2px;*/
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;

}

.blog-posts{
   /* border: #222222 solid 2px;*/
    height: 600px;
    width: 600px;
}

.post-item{
    border: #8f8d8d solid 1px;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 0 0 0 1rem;
    display: flex;
    word-break: break;
    box-shadow: #222222;
}

.post-image{
    width: 100%;
    object-fit: contain;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    overflow: hidden;
    max-width : 200px;
    height: 100%;
    margin-left: auto;
}

.seperator{
    padding-top: 1rem;
}

@media (max-width: 720px) {
    .main-container{
        width: 100%;
        flex-direction: column;
    }

    .settings-container{
        width: 100%;
        height: min-content;
        flex-direction: row;    
    }

    .post-item{
        width: 84vw;

    }

    .progress-bar{
        visibility: hidden;
    }

    .progress-text{
        visibility: hidden;
    }

    .compact-view-text{
        position: absolute;
        right: 0;
        padding-right: 1rem;
    }

    .subscribe-span{
        display: flex;
    }

    .rss{
        object-fit: contain;
    }

}

@media only screen and (max-width : 450px) {
    .main-container{
        width: 350px;
        flex-direction: column;

    }

    .settings-container{
        width: 350px;
        height: min-content;
        flex-direction: row;    
    }

    .post-item{
        width: 84vw;
    }

    .post-image{
        visibility: hidden;
    }

    .compact-view-text{
        visibility: hidden;
    }

    .progress-text{
        visibility: visible;
        position: absolute;
        right: 0;
        padding-right: 1rem;
    }
}



@media only screen and (max-width : 389px) {
    .main-container{
        width: 100%;
        flex-direction: column;

    }

    .settings-container{
        width: 100%;
        height: min-content;
        flex-direction: row;    
    }

    .post-item{
        width: 84vw;
    }

    .post-image{
        visibility: hidden;
    }

    .compact-view-text{
        visibility: hidden;
    }

    .progress-text{
        visibility: visible;
        position: absolute;
        right: 0;
        padding-right: 1rem;
    }

    .blog-posts{
        width: 100%;
    }
}

.subscribe-span:hover{
    color: oklch(66.59% .3018840772950374 4.255646284110876/ 1);

}

.compact-view-text:hover{
    color: oklch(66.59% .3018840772950374 4.255646284110876/ 1);
}