/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	/*background: linear-gradient(var(--gray-gradient)) no-repeat;*/
	background: oklch(98% .01 269/var(--tw-bg-opacity));
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	background-image: url("/footer.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 250px;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}

p {
	margin-bottom: 1em;
}
/*
.prose p {
	margin-bottom: 2em;
}*/
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media screen and (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
	.title{
		font-size: large;
		font-weight: 100;
		
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/*Underlining styles for text animation*/
.underline {
	background: 
	  linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
	  linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
	display:inline-block
  }
  
  .underline:hover,
  .underline:focus {
	background-size: 0 0.1em, 100% 0.1em;
  }

  .hover-underline-animation {
	display: inline-block;
	position: relative;
	
  }
  
  .hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #05f7f7;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }

  @keyframes fallingIce {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(100%);
		opacity: 1;
	}
}

body::before {
	content: '❄️';
	font-size: 36px;
	position: absolute;
	animation: fallingIce 3s linear infinite;
}

blockquote{
	font-size: 1.2rem;
	display:flex;
	white-space:break-spaces;
}


.ImageContainer{
	margin: auto;
}



@font-face {
	font-family: "Berkeley";
	src: url("/fonts/berkeley-mono-variable-2.ttf");
}

.note{
	background-color: lightblue;
	border: solid black;
	border-radius: 0.5rem;
	padding: 8px;
	position: relative;
}

.note-head{
	width: fit-content;
	background-color: oklch(64.6% 0.172 266 );
	position: absolute;
	top: -24px;
	padding: 8px;
	border-radius: 0.5rem;
	right: -1%;
	font-family: "Berkeley";
	font-size: medium;
}

.note-p{
	margin-bottom: 0;
	margin-left: 0;
	text-wrap: pretty;
	font-family: "Berkeley";
}
/*
a{
	font-family: "Berkeley";
	color: oklch(66.59% .3018840772950374 4.255646284110876/ 1);
	text-decoration: none;
}*/
a{
	text-decoration: none;
}

@keyframes earthquake-effect {
	25%, 50%, 75%, 100% {
		transform-origin: top center;
	}

	25% {
		transform: rotate(4deg);
	}
	50% {
		transform: rotate(-2deg);
	}
	75% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
/*
h1{
	animation: earthquake-effect 2s infinite ease;
}*/

h1:hover{
	cursor: pointer;
	animation: earthquake-effect 220ms  ease-out;
}

.img{
	width: 500px;
	height: 500px;
	justify-content:center;
	margin:auto;
	margin-bottom: 0px;
}
.shine {
	position: absolute;
	top: 0;
	left: -150%;
	width: 100%;
	height: 100%;
	background: linear-gradient(120deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0.2) 100%);
	transform: skewX(-20deg);
	animation: shine 2s infinite;
  }
  
  @keyframes shine {
	0% {
	  left: -150%;
	}
	50% {
	  left: 150%;
	}
	100% {
	  left: 150%;
	}
  }


.comment{
	/*border: solid black 2px;*/
	border-radius: 4px;
	background-color: #F3F4F7;
	padding: 1rem;
	font-family: Montserrat, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin-top: 14px;
	display: flex;
	
}
/*
.comment-link{
	margin:  auto 0px auto auto;
	height: 48px;
	cursor: pointer;
	border: grey solid 1px;
	padding: 8px;
}
*/
@media only screen and (max-width : 600px) {
	iframe{
		width : 360px;
		height : 200px
	}

	.comment{
		flex-direction: column;
		
	}
/*
	.comment-link{
		margin: auto auto auto 0px;
	}
		*/
}


.right-main-container{
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;

}

.goodies-container{
	font-family: "Berkeley";
	color: black;

}

.goodies-container-p{
	display: flex;
	column-gap: 6px;
}

.goodies-container-p::before{
	content:"";
	background-color: grey;
	height: 2px;
	width: 48px;
	margin: auto;
}

.goodies-container-p::after{
	content:"";
	background-color: grey;
	width: 100%;
	height: 2px;
	margin: auto;

}

/* highlighting 2*/

.highlight-2 {
	position: relative;
	display: inline-block;
	padding: 3px 6px;
}

.highlight-2::before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	background-image:linear-gradient(to right, #d9a7c7, #eee583);
	z-index: -1;
	transition: width 0.5s;
}

.highlight-2:hover::before{
	width: 100%;
}

/*
Below container-1 for hover effects
*/
#highlight-item {
	position: relative;
	display: inline-block;
}

#highlight-item::before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	background-color:rgb(79, 196, 235);
	transition: width 0.5s;
	z-index: -1;

}

#highlight-item:hover::before {
	width: 100%;
}

::selection{
	background-color: rgb(194, 20, 142);
	color: white;
}

/*
Some Good Color Combinations:-

linear-gradient(to right, #d9a7c7, #fffcdc)
rgb(79, 196, 235)
*/