---
import ArrowOutwardIcon from '@mui/icons-material/ArrowOutward';
---
<div id="publications" style="visibility: hidden;">
    <h3 class="dark:tw-text-darkHeading">Publications</h3>
    <div class="tw-mb-4 hover:tw-drop-shadow-xl tw-ring-1 tw-ring-gray-900/5 dark:tw-ring-1 dark:tw-ring-gray-900 tw-p-4 desktop:tw-flex mobile:tw-flex-row desktop:tw-flex-row hover:tw--translate-y-2.5 tw-transition-all">
        <img src="/images/springer.png" class="tw-w-[160px] tw-object-cover mobile:tw-hidden desktop:tw-block"/>
        <div class="tw-ml-4">
            <p class="tw-text-base tw-text-black">
                <a href="https://link.springer.com/chapter/10.1007/978-3-031-58174-8_22" class="dark:tw-text-darkHeading"><ArrowOutwardIcon client:only="react" className='tw-size-[18px]'/>xDFPAD: Explainable Tabular Deep Learning for Fingerprint Presentation Attack Detection</a>
            </p>
            <p class="tw-text-sm tw-text-gray-600 dark:tw-text-darkPara">
                The security of the fingerprint authentication system is compromised when it is exposed to presentation attacks (PAs). To detect these PAs under any attack conditions, an efficient fingerprint presentation attack detection (FPAD) technique is required. We developed an explainable deep learning-based FPAD (xDFPAD) method to prevent any possible PAs using any novel presentation attack instrument (PAI).
            </p>
        </div>
    </div>
</div>